version: '3.7'
services:
  api:
    image: python:3.10-slim-bullseye
    command: sh -c "python3 -m pip install fastapi pydantic requests email-validator && uvicorn main:app --host 0.0.0.0 --port 5000"
    working_dir: /AnimeAPI
    volumes:
      - ./AnimeAPI:/AnimeAPI
    ports:
      - 5000:5000
  front:
    image: nginx:1.23
    hostname: anime
    domainname: anime.local
    working_dir: /AnimeFront
    volumes:
      - ./AnimeFront:/AnimeFront
      - ./AnimeFront/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80